.showcase-watch {
    min-height: calc(100vh - 56px);
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateX(-100px);
    opacity: 0;
    animation: animateFadeInLeft 1s forwards linear;
    &__body {
        position: relative;
        flex-grow: 1;
        margin: 0 56px;
        .showcase-watch__title {
            font-weight: 600;
            font-size: 65px;
            margin-bottom: 4rem;
        }
        .showcase-watch__subtitle {
            font-weight: 600;
            font-size: 30px;
        }
        .showcase-watch__description {
            font-size: 22px;
            color: #b3b3b3;
        }

        .body__group {
            &__item {
                &:first-of-type {
                    background: rgb(235,235,235);
                    background: -moz-linear-gradient(90deg, rgba(235,235,235,1) 1%, rgba(255,255,255,1) 89%);
                    background: -webkit-linear-gradient(90deg, rgba(235,235,235,1) 1%, rgba(255,255,255,1) 89%);
                    background: linear-gradient(90deg, rgba(235,235,235,1) 1%, rgba(255,255,255,1) 89%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb",endColorstr="#ffffff",GradientType=1);
                }
            }
            .-img-switch {
                position: relative;
                background-color: #fff;
                .img-switch-wrapper {
                    .-black {
                        opacity: 0;
                    }
                    &.-black-selected {
                       .-black {
                           opacity: 1;
                       }
                        .-white {
                            opacity: 0;
                        }
                    }
                    .img-switch {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: opacity 0.75s;
                    }
                }
            }
        }
    }
    &__footer {
        height: 200px;
        margin: 0 56px;
        .footer__price {
            color: #b3b3b3;
            font-size: 32px;
            font-weight: 600;
        }
        .footer__link {
            font-weight: 600;
            text-decoration: none!important;
        }

        .block__group__item {
            .switch__link {
                border: solid 1px #7f7f7f;
                border-radius: 50%;
                display: inline-block;
                margin: 0 0.5rem;
                padding: 0;
                outline: none!important;
                &.-selected {
                    border-color: #FF2D55;
                }
                .select__color {
                    height: 28px;
                    width: 28px;
                    margin: 0.25rem;
                    border-radius: 50%;
                    border: solid 1px black;
                    &.select-white {
                        background-color: #fff;
                    }
                    &.select-black {
                        background-color: black;
                    }
                }
            }
        }
    }

    .block__group {
        display: flex;
        &__item {
            width: 60%;
            padding: 3rem;
            &:last-child{
                width: 40%;
            }
        }
    }
}

@keyframes animateFadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
