.navbar {
    height: 56px;
    z-index: 2;
    position: relative;
    .navbar-brand {
        background-color: black;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
    }
}

.-menu-page {
    .navbar {
        .navbar-brand {
            animation: animateHeaderToNormal 0.5s forwards linear;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.-showcase-page {
    .navbar {
        margin-top: -45px;
        animation: animateHeader 1s forwards linear;
        .navbar-brand {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@keyframes animateHeader {
    0% {
        margin-top: -45px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes animateHeaderToNormal {
    0% {
        width: 100%;
    }
    100% {
        width: 56px;
    }
}

